@font-face{
	font-family: SF Pro Display;
	src: url(../fonts/SFPro/SFProDisplay-Black.ttf);
}

@font-face{
	font-family: SF Pro Display Light;
	src: url(../fonts/SFPro/SFProDisplay-Light.ttf);
}

@font-face{
	font-family: SF Pro Display Heavy;
	src: url(../fonts/SFPro/SFProDisplay-Heavy.ttf);
}

@font-face{
	font-family: SF Pro Display Medium;
	src: url(../fonts/SFPro/SFProDisplay-Medium.ttf);
}


a{
	text-decoration: none;
	color: #555E65;
}

.body{
	margin: 0;
	font-family: SF Pro Display Medium;
	color: #555E65;
}

.wrapper{
	width: 414px;
	height: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 3px solid black;
	background: #94DFD5;
}

h3{
	margin-left: 20px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	/* identical to box height, or 110% */

	letter-spacing: 3.59px;
}


.header{
	padding-top: 10px;
	width: 100%;
	height: 120px;
	background: linear-gradient(360deg, #94DFD5 68.23%, #57A1D8 100%);
}

.Panel .Panel__in, .Panel::after{
	background-color: #1c1c1e;
}

#filters .Panel__in, .Panel::after{
	background-color: #fff ; 
}

#lk .Panel__in, .Panel::after{
	background-color: #fff; 
}

#createVisit .Panel__in, .Panel::after{
	background-color: #fff; 
}


.myVisit{
	margin-left: 20px;
	margin-right: 20px;
}

.addVisit{
	border-radius: 30px;
	background-color: #000;
	float: right;
	font-size: 20px;
	color: #fff;
	padding: 10px;
	padding-top: 5px; 
}



.Root{
	margin-top: 180px;
}

.profile{
	margin-top: 40px;
}

.textTab{
	color: #fff;
}

.Search{
	background-color: #1c1c1e;
	padding-top: 60px;
	
}

.Tabs{
	background-color: #1c1c1e;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 50px;
	padding-right:  50px;
	list-style-type: none;
	color: #555E65;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.59px;
}

.CardScroll{
	margin-top: 20px;
}

.home {
	border-bottom: 2px solid #fff; 
	color: #fff;
}

.search {
	border-bottom: 2px solid #fff; 
	color: #fff;
}

.Button{
	width: 85px;
	height: 30px;
	border-radius: 10px;
	background-color: #000000;
}

.Button__content{
	font-size: 12px;
	letter-spacing: -0.41px;
}

.cardsVisit{
	margin-top: 60px;
	padding-top: 20px;
}

.cardVisit{
	width: 95%;	
	height: 168px;
	background: #A4AEE9;
	border-radius: 20px;
	margin: 0 auto;	
	margin-top: 20px;
	padding: 10px;
}

.cardVisitFull{
	height: 432px;
	margin-top: 50px;
}

.blockFull{
	display: none;
}

.cardVisitFull .blockFull{
	display: block;
}